.main {
  display: flex;
}

section {
  height: 936px;
  width: 240px;

  padding-top: 20px;
}

.menu {
  margin-left: 20px;
  padding: 10px;
  font-weight: 700;
}

.fa-border-all {
  margin-right: 5px;
}

.content {
  width: 100%;
  margin-top: 20px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 15px;
}

.upperNav {
  display: flex;
  justify-content: space-between;
}

.name p {
  margin-left: 10px;
}

.addMember {
  margin-right: 20px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #6941c6;
  color: white;
}

.fa-magnifying-glass {
  position: relative;
  right: 25px;
}
